{% extends 'accounts/templates/base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block SectionTitle %}
    Projects
{% endblock %}

{% block addButton %}
    <div>
        <a href='{% url 'projects' %}'
           class="d-none d-sm-inline-block btn btn-sm btn-green shadow-sm font-weight-bold text-gray-100"><i
                class="fas fa-arrow-left fa-sm text-gray-100 ml-1"></i> Back</a>
        <a href='{% url 'update_project' project.id %}'
           class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm font-weight-bold text-gray-100">Edit
            <i
                    class="fas fa-edit fa-sm text-gray-100 ml-1"></i></a>
        <a href='#' data-toggle="modal" data-target="#deleteModal"
           class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm font-weight-bold text-gray-100">Delete
            <i
                    class="fas fa-trash fa-sm text-gray-100 ml-1"></i></a>
    </div>
{% endblock %}

{% block content %}

    <!-- Content Row -->

    <div class="row">

        <!-- project -->
        <div class="col-xl-8 col-lg-7 mb-4" style="height: 65vh">
            <div class="card shadow mb-4" style="height: 100%;">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-green">{{ project.title }}</h6>
                    <div class="dropdown no-arrow">

                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="overflow-y: scroll">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Title</label>
                                <input disabled type="text" class="form-control" id="inputEmail4"
                                       value="{{ project.title }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Status</label>
                                <select disabled id="inputState" class="form-control">
                                    <option selected>{{ project.get_status_display }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea disabled class="form-control" id="exampleFormControlTextarea1"
                                          rows="3">{{ project.description }}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState2">Start Date</label>
                                <input disabled type="datetime-local" class="form-control" id="inputState2"
                                       value="{{ project.start_date }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState3">End Date</label>
                                <input disabled type="datetime-local" class="form-control" id="inputState3"
                                       value="{{ project.end_date }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState2">Contact Name</label>
                                <input disabled type="text" class="form-control" id="inputState2"
                                       value="{{ project.client_name }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Contact Email</label>
                                <input disabled type="text" class="form-control" id="inputState2"
                                       value="{{ project.client_email }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="repo">Repository</label>
                                <input disabled type="text" class="form-control" id="repo"
                                       value="{{ project.repo }}">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Notes -->
        <div class="col-xl-4 col-lg-5 mb-4" style="height: 65vh">
            <div class="card shadow mb-4" style="height: 100%">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-green">Project Distribution</h6>
                    <div class="dropdown no-arrow">
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="overflow-y: scroll">
                    <canvas id="pie-chart"
                            style="margin:auto; position: absolute;top: 0;bottom: 0;left: 0;right: 0;"></canvas>
                </div>

            </div>
        </div>


    </div>
    <div class="row">

        <!-- Tables -->
        <div class="col-xl-12 ">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-green">Task List</h6>
                    <div class="dropdown no-arrow">
                        <a href='#' data-toggle="modal" data-target="#TaskModal"
                           class="d-none d-sm-inline-block btn btn-sm btn-green shadow-sm font-weight-bold text-gray-100">Create
                            <i
                                    class="fas fa-plus fa-sm text-gray-100 ml-1"></i></a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table-curved" id="dataTable" style="width: 100%" cellspacing="0">
                        <thead>
                        <tr class="table-row-header-custom">
                            <th>Title</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in tasks %}
                            <tr class="{{ i.get_status_display }} clickable-row" data-href='../../tasks/{{ i.id }}'>
                                <td>{{ i.title }}</td>
                                <td>{{ i.get_status_display }}</td>
                                <td>{{ i.get_priority_display }}</td>
                                <td>{{ i.project }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header bg-dark-secondary"
                     style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-theme">
                    Select "Delete" below to verify your decision.
                </div>
                <form action="{% url 'delete_project' project.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-footer bg-dark-theme"
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-danger" name="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="TaskModal" tabindex="-1" role="dialog" aria-labelledby="TaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header bg-dark-secondary"
                     style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <h5 class="modal-title" id="TaskModalLabel">Create Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'project_task_creation' project.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body bg-dark-theme">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Title</label>
                                {{ form.title }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea1">Description</label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState2">Start Date</label>
                                {{ form.start_date }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState3">End Date</label>
                                {{ form.end_date }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState2">Status</label>
                                {{ form.status }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState3">Priority</label>
                                {{ form.priority }}
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer bg-dark-theme"
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-success" name="Delete">
                    </div>
                </form>

            </div>
        </div>
    </div>


{% endblock %}

{% block AdditionalScripts %}
    <script>

        var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: {{ data|safe }},
                    backgroundColor: [
                        '#36b9cc', '#f6c23e', '#1cc88a', '#e74a3b'
                    ],
                    label: 'Tasks'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'left',
                    align: 'center'
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('pie-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
        };

    </script>
{% endblock %}