{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {#  Title  #}
    <title>Cyber Ducks - {% block title %} {% endblock %}</title>

    <!-- Default CSS-->
    <link rel="stylesheet" href="{% static  'accounts/styles/dashboard/sb-admin-2.css' %}">
    <link rel="stylesheet" href="{% static  'accounts/styles/colors.css' %}">
    <link rel="stylesheet" href="{% static  'accounts/styles/custom.css' %}">
    <link rel="stylesheet" href="{% static  'accounts/styles/scrollbar.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    {# Custom CSS#}
    {% block style %}
    {% endblock %}

    <!-- Custom fonts for this template-->
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'accounts/includes/sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column bg-dark-theme fg-white">

        <!-- Main Content -->
        <div id="content" class="bg-dark-theme">

            <!-- Topbar -->
            {% include 'accounts/includes/topbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-green">{% block SectionTitle %}{% endblock %}</h1>
                    {% block addButton %}
                    {% endblock %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<!-- Footer -->
{% include 'accounts/includes/footer.html' %}
<!-- End of Footer -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>

{% include 'accounts/includes/scripts.html' %}

</body>

{% block AdditionalScripts %}
{% endblock %}

</html>